/* Add these styles to your qmsaddmeeting.css file */

/* Modal backdrop fade effect */
.modal-backdrop-enter {
    opacity: 0;
  }
  .modal-backdrop-enter-active {
    opacity: 1;
    transition: opacity 300ms;
  }
  .modal-backdrop-exit {
    opacity: 1;
  }
  .modal-backdrop-exit-active {
    opacity: 0;
    transition: opacity 300ms;
  }
  
  /* Modal content slide/fade effect */
  .modal-content-enter {
    opacity: 0;
    transform: scale(0.95);
  }
  .modal-content-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 300ms, transform 300ms;
  }
  .modal-content-exit {
    opacity: 1;
    transform: scale(1);
  }
  .modal-content-exit-active {
    opacity: 0;
    transform: scale(0.95);
    transition: opacity 300ms, transform 300ms;
  }
  
 

  .agenda-list-head {
    font-family: 'Switzer Light'; 
    font-size: 20px;
  }

  .agenda-thead {
    font-family: 'Switzer Light'; 
    font-size: 14px;
    font-weight: 400;
    color: #AAAAAA;
  }

  .agenda-data {
    font-family: 'Switzer Light'; 
    font-size: 14px;
    color: white;
  }

  .agenda-list-label {
    font-family: 'Switzer Light'; 
    font-size: 16px;
    color: white;
  }

  .add-agenda-inputs {
    font-family: 'Switzer Light'; 
    font-size: 16px;
  } 
   